<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="/src/assets/img/footer-logo.png" alt="Quokka">
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About_Us</a></li>
                    <li><a href="#">Contact_Us</a></li>
                </ul>
                <ul class="social-ico">
                    <li><a href="#">
            <span class="fa-stack ">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
                    </a></li>
                    <li><a href="#">
            <span class="fa-stack ">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i> 
            </span>
                    </a></li>
                    <li><a href="#">
            <span class="fa-stack ">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
            </span>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- /footer -->